{% extends "main.html" %}

{% block content %}

<!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'user-profile' profile.id %}"><i class="im im-angle-left"></i></a>
                <br>
                {% if source == 'admin' %}
                <form class="form" method="POST" action="{%url 'edit-account-admin' profile.id %}" enctype="multipart/form-data">
                {% else %}  
                <form class="form" method="POST" action="{%url 'edit-account' %}" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}

                    {% for field in form %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
    
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Guardar" />
                </form>
            </div>
        </div>
    </main>

{% endblock content %}